.firstSection {
    display: flex;
    height: auto;
    padding: 120px 0 30px 0;
    width: 90%;
    margin: 0 auto;

    article {
        flex: 50%;
        width: 50%;
        min-width: 50%;
        max-width: 50%;

        h1 {
            font-size: 50px;
            color: #0B3A5A;
            line-height: 70px;
            text-transform: uppercase;
        };

        p {
            color: #494848;
            font-size: 15px;
            width: 80%;
        };

        button {
            background:  #0B3A5A;
            color: #f7f7f7;
            border: none;
            font-size: 16px;
            padding: 10px 20px;
            font-weight: 600;
            cursor: pointer;
        };
    };


    .firstRight {
        flex: 50%;
        width: 50%;
        position: relative;
        max-width: 50%;

        .firstImageCont {
            display: flex;
            position: relative;
            width: 100%;

            img {
                position: absolute;
                width: 80%;
                width: auto;
                // background: red;

                &:nth-child(1) {
                    height: 500px;
                    left: -28%;
                    top: -95px;
                };

                &:nth-child(2) {
                    left: 6%;
                    top: -6px;
                };

                &:nth-child(3) {
                    left: 10%;
                    top: 25px;
                    width: 450px;
                };
            };
        };
        
        .noteCard{
            position: absolute;
            left: -10px;
            top: 25px;
            z-index: 5;
            background: #fff;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            width: 250px;
            padding: 5px 15px;

            span:nth-child(1) {
                font-size: 14px;
                color: #494848;
            };
            span:nth-child(2) {
                font-size: 20px;
                color: #0B3A5A;
            };
        };
    };
};


.secondSection {
    padding: 30px 0;
    background: rgba(180, 200, 214, 0.2);
    position: relative;

    .secondSectionInnerWrapper {
        width: 100%;
        display: flex;

        .secondImageCont {
            width: 45%;
            position: relative;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
        
            img {
                display: flex;
                position: absolute;
                height: 60%;
            
                &:nth-child(1){
                    right: 50px;
                    top: 30px;
                    height: 30%;
                };
                &:nth-child(2){
                    right: 195px;
                    height: 50%;
                };
                &:nth-child(3){
                    right: 80px;
                    height: 80%;
                };
                &:nth-child(4){
                    right: 20px;
                    height: 65%;
                };
            };
        };

        article {
            width: 55%;
            padding-right: 30px;
            h1 {
                margin-top: 20px;
                color: #F0F4F7;
                font-size: 120px;
                line-height: 1;
                padding-left: 20px;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
            };
        
            p {
                font-size: 16px;
                padding-left: 20px;
            };
        
            button {
                margin-left: 20px;
                background:  #0B3A5A;
                color: #f7f7f7;
                border: none;
                font-size: 16px;
                padding: 10px 20px;
                font-weight: 600;
                cursor: pointer;
            };
        };
    };

    .absoluteP {
        position: absolute;
        left: 0;
        bottom: -150px;
    }
}


.thirdSection {
    display: flex;
    padding: 40px 5%;
    position: relative;

    .thirdSectionInnerWrapper {
        width: 100%;
        display: flex;
        
        .thirdSectionACont{
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        
            article {
                h1 {
                    font-size: 40px;
                    font-weight: 600;
                    color: #0B3A5A;
                };
        
                p {
                    width: 90%;
                };
        
                button {
                    background:  #0B3A5A;
                    color: #f7f7f7;
                    border: none;
                    font-size: 16px;
                    padding: 10px 20px;
                    font-weight: 600;
                    margin-top: 20px;
                    cursor: pointer;
                };
            };
        };

        .imageWrapper {
            width: 50%
        };
    };
    
    .thirdPoly {
        position: absolute;
        left: 0;
        bottom: 30px;
    };
};


.fourthSection {
    background: #f7f7f7;
    padding: 40px 0;

    h1 {
        text-align: center;
        color: #0B3A5A;
        font-size: 40px;
    };

    .fourthSecGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px;
        column-gap: 25px;
        row-gap: 25px;
        margin: 0 auto;
        padding-top: 10px;

        .OfferComp {
            background: #FFFFFF;
            box-shadow: 0px 0px 0px 3px rgba(11, 58, 90, 0.1), 0px 1px 4px rgba(11, 58, 90, 0.01);
            border-radius: 16px;
            padding: 15px;

            h3 {
                margin-top: 10px;
                font-size: 18px;
            };

            p {
                font-size: 14px;
                color: #494848;
                line-height: 1.8
            };
        };
    };
};


.fifthSection {
    padding: 30px 5%;

    
}
.fifthSection h1 {
    color: #0B3A5A;
    font-size: 40px;
    text-align: center;
}
.lHeading {
    width: 450px;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;

}
.shortDash {
    display: block;
    background: #F3BA2F;
    height: 2px;
    width: 145px;
    margin: 20px auto;
}

.questContainer {
    background: #F1F1F1;
    box-shadow: 0px 0px 0px 1px rgba(27, 31, 35, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 30px auto;
    color: #2F2E2E;
}
.questContainer button {
    width: 100%;
    height: 50px;
    background: #F1F1F1;
    border: none;
    text-align: left;
    padding: 0 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2F2E2E;
    cursor: pointer;
}
.questContainer div {
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 14px;
}



.sixthSection {
    padding: 30px 0;

    h1 {
        color: #0B3A5A;
        font-size: 40px;
        text-align: center;
    };
    .remarkItemsWrapper {
        padding: 15px;
        display: flex;
        // flex-wrap: wrap;
        gap: 20px;
        overflow-x: hidden;

        .remarkWrapper {
            width: 445px;
            min-width: 445px;
            background: #FFFFFF;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 20px 25px;

            h3 {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                text-transform: capitalize;
                color: #000000;
            };

            p {
                margin-top: 20px;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 24px;
                letter-spacing: 0.5px;
                text-transform: capitalize;
                color: #5B6674;
            };
        };
    };
    
    .arrowWrapper {
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        span {
            height: 24px;
            width: 24px;
            background: #E5E5E5;
            
            display: flex;
            align-items: center;
            justify-content: center;
        };
    };
};


.seventhSection { 
    margin-top: 50px;
    background: #0B3A5A;
    border-radius: 30px;
    padding: 20px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .whiteCircleRing {
        width: 70px;
        position: absolute;
        top: 0;
        right: 0;
    };

    h1 {
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 56px;
        text-align: center;
        text-transform: capitalize;
        color: #F1F1F1;
    };

    form {
        .inputAndButtonWrapper {
            border: 1px solid #F1F1F1;
            box-sizing: border-box;
            border-radius: 3px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            input {
                border: none;
                background: transparent;
                padding: 5px 10px;
                color: #F1F1F1;
                line-height: 1.6;

                &:focus {
                    outline: none
                };
            };

            button {
                border: none;
                background: #FF9900;
                color: #F7F7F7;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                padding: 7px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            };
        };
    };
};


.eightSection {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #0B3A5A;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.43;
        text-align: center
    };

    .blogItemsWrapper {
            margin: 10px auto;
            padding-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-template-rows: min-content;
            gap: 30px 15px;

        .blogItem {
            background: #FFFFFF;            
            box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.16), 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;

            .titleAndSubTitleWrapper {
                padding: 15px 15px 0 15px;
                display: flex;
                flex-direction: column;

                strong {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.15px;
                    text-transform: capitalize;
                    color: #2F2E2E;
                };
                p {
                    margin-top: 10px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    text-transform: capitalize;
                    color: #494848;
                };
            };

            .readMoreButton {
                margin-left: 15px;
                align-self: flex-start;
                background: #0B3A5A;
                border: 3px solid #0B3A5A;
                box-sizing: border-box;
                border-radius: 3px;
                color: #FFFFFF;
                cursor: pointer;
                padding: 8px 20px;
            };
        };
    };
};